/* отключаем поведение по умолчанию для контейнеров */
/* теперь внутренние отступы и граница не влияют на физический размер контейнера */

*{
    box-sizing: border-box;
}

.box{
    margin: 20px;
    padding: 30px;
    border: 10px solid orangered;
    height: 200px;
    width: 200px;
    background-color: cornflowerblue;
}

li{
    list-style: none;
}
li::before{
    content: '⚡ ';

}